.homepage {
    .featured-article.container {
        overflow: hidden;
        padding: 1.5em;
        @include background(
            linear-gradient(
                $color-white,
                darken($color-white, $darken-amount)
            )
        );
        .featured-article-image {
            @include media($medium-screen-up) {
                width: 40%;
                float: left;
            }
            img {
                height: auto;
                padding: 0.75em;
            }
        }
        .featured-article-description {
            @include media($medium-screen-up) {
                width: 60%;
                float: right;
            }
            h2 {
                margin: 0.5em 0 0.5em 0;
                font-size: 3em;
                font-style:italic;
                text-transform: uppercase;
                color: $color-red;
            }
        }
    }
}