article.page {
    @extend article.single;
    header {
        height: 3em;
        max-width: 60em;
        margin: 0 auto;
        @media screen and (max-width: 60em) {
            margin: 0 1.5em;
        }
        h1 {
            font-size: 3em;
            font-weight: 400; 
            margin-top: 2em;
            font-style: italic;
            text-transform: uppercase;
        }
    }   
}

article.archive {
    header h1 { margin-top: 1em; }
}

nav.pagination {
    overflow: hidden;
    a {
        color: $color-black;
        margin: 1em 0;
        display: block;
        font-family: $font-sans-serif;
        font-weight: 700;
        &:hover {
            color: $color-red;
            text-decoration: none;
        }
    }
    .alignleft {
      display: inline-block;
      float: left;
      clear: left;
    }
    .alignright {
      display: inline-block;
      float: right;
      clear: right;
    }
}