article.page {
    @extend article.single;
    header {
        height: 3em;
        max-width: 60em;
        margin: 0 auto;
    }
    h1 {
        font-size: 3em;
        font-weight: 400; 
        margin-top: 2em;
        font-style: italic;
        text-transform: uppercase;
    }
}   